<h1><% title %></h1>

<!-- Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('register')
} %>

<!-- Flash message -->
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
        <% 
        let showEmailError = false;
        errors.array().forEach(error => { 
            if (error.msg === 'A valid email is required.') {
                showEmailError = true;
            } 
        });

        if (showEmailError) { %>
            <li>A valid email is required.</li>
        <% } else {
            errors.array().forEach(error => { 
                if (error.msg !== 'Invalid value' && error.msg !== 'A valid email is required.') { %>
                    <li><%= error.msg %></li>
                <% }
            }); 
        } %>
    </ul>
<% } %>



<div class="login-container">
  <form class="form-container" id="loginForm" action="/account/login" method="post">
    <div class="input">
      <label>Email</label>
      <input type="email" name="account_email" required />
    </div>
    <div class="input">
      <label>Password</label>
      <input type="password" name="account_password" pattern="(?=.*\d)(?=.*[A-Z])(?=.*[!@#$%^&*])(?=.*[a-zA-Z]).{12,}" title="Password must be 12 characters or longer, contain at least 1 capital letter, 1 number, and 1 special character." required>
    </div>
    <div class="sumbit-button">
      <button type="submit">Login</button>
    </div>
    <h1>No Account? <a href="register">Sign-up</a></h1>
  </form>
</div>