<%# <h1>Tafadzwa Betserai Chingore</h1> %>
<h1 class="welcome-msg">Welcome to CSE Motors!</h1>
<%# messages() %>

<div class="hero-section">
  <aside>
    <h2>DMC Delorean</h2>
    <ul>
      <li>3 Cup holders</li>
      <li>Superman doors</li>
      <li>Fuzzy dice!</li>
    </ul>
    <img
      class="cta-btn"
      src="../images/site/own_today.png"
      alt="own today button"
    />
  </aside>

  <picture class="img-delorean">
    <source
      media="(max-width: 420px)"
      srcset="../images/vehicles/delorean-tn.jpg"
    />
    <source
      media="(min-width: 421px)"
      srcset="../images/vehicles/delorean.jpg"
    />
    <img src="../images/vehicles/delorean.jpg" alt="delorean car" />
  </picture>
</div>

<div class="info grid grid--1-cols grid--2-cols">
  <section class="upgrades-section">
    <h2>Delorean Upgrades</h2>
    <div class="cards-grid cards-grid--2-cols">
      <div class="card">
        <div class="upgrade-img">
          <img
            class="img-upgrade"
            src="../images/upgrades/flux-cap.png"
            alt="flux capacitor"
          />
        </div>
        <a href="#">Flux Capacitor</a>
      </div>
      <div class="card">
        <div class="upgrade-img">
          <img
            class="img-upgrade"
            src="../images/upgrades/flame.jpg"
            alt="flame decals"
          />
        </div>
        <a href="#">Flame Decals</a>
      </div>
      <div class="card">
        <div class="upgrade-img">
          <img
            class="img-upgrade"
            src="../images/upgrades/bumper_sticker.jpg"
            alt="Bumper Stickers"
          />
        </div>
        <a href="#">Bumper Stickers</a>
      </div>
      <div class="card">
        <div class="upgrade-img">
          <img
            class="img-upgrade"
            src="../images/upgrades/hub-cap.jpg"
            alt="hub caps"
          />
        </div>
        <a href="#">Hub Caps</a>
      </div>
    </div>
  </section>
  <section class="reviews-section grid--1-cols">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it's almost live traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it" (5/5)</li>
    </ul>
  </section>
</div>