<div id="add-classification">
  <% if (title) { %>
    <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>
  <%- messages() %>
  <% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  <form action="/inv/add-classification" method="post" id="classification-form">
    <label for="classification">Add new classification</label>
    <input type="text" id="classification" name="classification_name" required
      minlength="3"
      pattern="[A-Za-z\d]{3,}"
      title="The classification name must be at least 3 characters in length without any special characters"
      value="<%= locals.classification_name %>"
    >
    <button type="submit">Add</button>
  </form>
</div>
