<title> <% title %> </title>
<h1> <% title %> </h1>

<% if (errors) { %>
<ul class="message warning">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <%  }) %>
</ul>
<% } %>

<body> 
    <%- messages() %>
    <form action='/inv/add-classification' method="post"> 
        <div class="form-container">
            <h2>Add Classification:</h2>
            <label for="classification">Classification Name:</label>
            <i>NAME MUST BE ALPHABETICAL CHARACTERS ONLY</i>
            <div>
                <input type="text" class="input "id="invclassification" name="classification_name" required>
            </div>
        </div>
        <button class='submit-button' type="submit">Add Classification</button>
    </form>
</body> 