<title> <% title %> </title>

<h1>  <% title %> </h1>

<%- messages() %>

<body> 
    <h2>Actions:</h2>
    <div class="form-container">
        <a href="/inv/add-classification" class="input">Add Classification</a>
        <a href="/inv/add-inventory" class="input">Add Inventory</a>
    </div>
    <h2>Manage Inventory</h2>
    <p>Select a classification from the list to see the items belonging to the classification.</p>
</body>